<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- 首页 -->
                <li>
                    <a href="{{ site.baseurl }}/">首页</a>
                </li>
                
                <!-- 固定顺序的导航项 -->
                <li>
                    <a href="{{ site.baseurl }}/creation-guide">创作指南</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/creation-stories">创作故事</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/creator-works">创作者作品</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/about-us">初火与我</a>
                </li>
                
                <!-- 外部链接 -->
                <li>
                    <a href="https://chuhuo.cc" target="_blank">回到官网</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
